@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
#quote-box {
  border-radius: 3px;
  border: 1px solid #000;
  width: 500px;
  height: auto;
  display: table;
  padding: 20px 30px;
}
#quote-box #text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
}
#quote-box #author {
  text-align: right;
  clear: both;
}
#quote-box .buttons {
  margin: auto;
  display: block; 
}
#quote-box #new-quote, #tweet-quote {
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color:#fff;
  outline: none;
  background-color:rgb(60, 60, 60);
  font-size:0.85em;
  padding: 10px 15px;
  margin-top: 10px;
}
#quote-box #new-quote {
  float: right;
}
#quote-box #tweet-quote {
  float: left;
  text-decoration: none;
}

#quote-box #new-quote:hover, #tweet-quote:hover {
  opacity:0.9;
} 
